.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid var(--search-border-color);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--search-text-color);
}

.searchTerm:focus {
  color: var(--search-border-color-focus);
}

.text-search {
  margin-top: 10px;
  font-size: 14px;
}

.searchButton {
  width: 60px;
  height: 35px;
  border: 1px solid var(--search-btn-bg-color);
  background: var(--search-btn-bg-color);
  text-align: center;
  color: var(--search-btn-text-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 50%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
